.app {
    height: 719px;
}

#header {
    background-color: #21C0C0;
}

.logo {
    display: block;
    margin-left: 10px;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: auto;
    height: 50px;
    width: auto;
}

.body {
    height: 80%;
}

.nav{
    background-color: #21C0C0;
    height: 10%;
}
.icon-group {
    margin-right: auto;
    margin-left: auto;
    height: auto;
    width: 50%;

}

.nav-icon {
    margin: 10px;
    height: 20%;
    width: 20%;
}