.app {

}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
}

.container-fluid {
    padding: 0;
}

.header-footer {
    background-color: #21C0C0;
    margin: 0;
    padding: 0;
    height: 80px;
}

.logo {
    display: block;
    height: 50px;
    width: auto;
}

.nav{
    background-color: #21C0C0;
}

.icon-group {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.nav-icon {
    height: 70px;
    width: auto;
    margin: 6px 12px;
}