.App {
    height: 719px;
}

.Header {
    background-color: #21C0C0;
    height: 10%;
    margin-bottom: 20px;
    color: white;
}
.Logo {
    display: block;
    margin-left: 10px;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: auto;
    height: 50px;
    width: auto;
}

.Body {
    height: 80%;
}

.Nav{
    background-color: #21C0C0;
    height: 10%;
}
.Icon-Group {
    margin-right: auto;
    margin-left: auto;
    height: auto;
    width: 50%;

}
.Nav-Icon {
    margin: 10px;
    height: 20%;
    width: 20%;
}